<div class="flex-container" id="object">
  <div id="geometry" class="monitoring-map-container" class="cadre">
    <pnx-map height="80vh">
      <pnx-geojson
        [geojson]="sitesGroups"
        [zoomOnLayer]="true"
        [zoomOnFirstTime]="true"
      ></pnx-geojson>
    </pnx-map>
  </div>
  <div id="monitoring-elem-container" class="cadre scroll">
    <!-- <pnx-monitoring-lists-new
  [(bEdit)]="bEdit"
></pnx-monitoring-lists-new> -->
    <div *ngIf="displayDetails">
      <pnx-monitoring-properties-g [selectedObj]="sitesGroupsSelected">
      </pnx-monitoring-properties-g>
    </div>
    <div *ngIf="!displayDetails">
      <pnx-monitoring-datatable-g
        [rows]="sitesGroups"
        [colsname]="columnNameSiteGroup"
        (onSort)="onSortEvent($event)"
        [page]="page"
        (onFilter)="onFilterEvent($event)"
        (onSetPage)="setPage($event)"
        [obj]="sitesGroups"
        (onDetailsRow)="seeDetails($event)"
      ></pnx-monitoring-datatable-g>
    </div>
  </div>
</div>
